/*GENERAL STYLE */

.App {
  background-image: url("/public/images/background.jpg");
  width: 100%;
}

.holder{
  margin-top: 3rem;
  overflow: "hidden";
}

/* HOMEPAGE */

.contenedor{
  background-color: rgba(240, 240, 240);

  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  width: 90%;
}

.fondo-noticias{
  background-color: rgba(240, 240, 240);
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.carousel{
  height: 450px;
}

.carousel-item{
  height: 450px;
}

.carousel-item img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.carousel-item img :hover{
  height: 1rem;
  width: 150%;
}

/* FOOTER */
footer{
  background-color: rgb(240, 240, 240);
  clear: both;
  color: black;
  text-align: center;
  padding: 10px 0;
  margin-top: 20px;
}

footer .redes img{
  width: 4%;
  margin-left: 2%;
  margin-right: 2%;
}

footer .redes img:hover{
  opacity: 0.5;
}

footer .derechos{
  margin-top: 20px;
}

/* CONTACTO PAGE */

.contacto{
  gap: 24px;
  background-color: rgb(240, 240, 240);
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 10px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
}

.contacto div{
  width: 100%;
}

.datos p{
  font-size: 14px;
}

.datos ul li{
  font-size: 13px;
}

.formulario p{
  display: flex;
}

.formulario p label{
  min-width: 80px;
  display: flex;
  align-items: center;
}

.formulario p input, .formulario p textarea{
  width: 100%;
  background: #ddd;
  border-radius: 5px;
  border: 1px solid #999;
  font-size: 14px;
  padding: 6px 10px;
}

.formulario p:nth-child(4){
  align-items: start;
}

.formulario textarea{
  resize: none;
  height: 150px;
}

.formulario input[type="submit"]{
  background: #000000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 16px;
  padding: 6px 20px;
  width: auto;
  position: relative;
  left: 80px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.formulario input[type="submit"]:hover{
  background-color: #808080;
}

/* EMPLEADOS */

.empleado{
  background-color: rgb(200, 200, 200);
  text-align: center;
  display: inline-block;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  width: 47%;
}

.empleados{
  width: 100%;
  text-align: center;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  background-color: rgb(240, 240, 240);
}

/* LOGIN */

.formulario{
  background-color: rgb(240, 240, 240);
  padding: 1rem;
}

.formulario .linea{
  padding: 10px;
}

/* NOTICIAS ALTA */

.formulario{
  background-color: rgb(240, 240, 240);
  padding: 1rem;
}

.formulario .linea{
  padding: 10px;
}

/* NOTICIAS ELIMINAR */

.eliminar{
  background-color: rgb(240, 240, 240);
  padding: 2rem;
  margin-top: 2rem;
  border-radius: 10px;
  text-align: center;
  color: red;
}


/* NOTICIAS PAGE */

.titulo :hover{
  text-decoration: underline;
}

.imagen-noticia :hover{
  opacity: 0.9;
}

.imagen-noticia img{
  transition: transform .2s;
}

.imagen-noticia :hover{
  transform: scale(1.02);
}



/* REGISTRO */

.formulario{
  background-color: rgb(240, 240, 240);
  padding: 1rem;
}

.formulario .linea{
  padding: 10px;
}

/* NAVIGATION */

.brand img{
  transition: transform .2s;
}

.brand h2{
  transition: transform .2s;
}

.brand :hover{
  transform: scale(1.1);
}